#sectionindex1 {
    position: relative;
    transition: 0.5s;
    transition: transform 0.3s ease-in-out;

}

#fotoikbegin {
    position: absolute;
    width: 175px;
    height: auto;
    top: 5px;
    right: 5px;
    transition: transform 0.3s ease-in-out;
}
#fotoikbegin:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease-out;
}

#fotohz {
    position: absolute;
    width: 300px;
    height: auto;
    top: 5px;
}

.introtekst {
    text-align: center;
    color: #333333;
}

h3 {
    color: #333333;
}

#lijstfoto {
    display: flex;
    align-items: center;
    transition: 0.5s;

}

ul {
    flex: 1;
    padding: 0;
    margin-right: 20px;
}

#dronefoto:hover {
    transform: scale(2);
    transition: transform 0.3s ease-out;
}
#dronefoto {
    transition: transform 0.3s ease-in-out;
}