nav {
    position: fixed;
    right: 5px;
    margin: 0;
    /* margin-top: 0.1rem; */
    margin-left: 0.25rem;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 525px;
    background-color: #c7c7c7af;
    z-index: 1;
}

.nav-items {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #4681f4;
    color: white;
    position: relative;
    /* color: #6dd1f3; */
    margin-left: 1rem;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
}

.nav-items:hover {
    transition: background-color 0.2s ease;
    background-color: #486db6;
}

body {

    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    transition: 0.5s;

}

main {
    align-items: center;
    justify-content: center;
    display: flex;


}
.active {
    background-color: #55c2da;
}
section {
    position: relative;
    margin-top: 3rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1200px;
    transition: 0.5s;


}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;

}

h2 {
    font-size: 20px;
    color: #555;
}

p {
    font-size: 18px;
    color: #777;
}

img {
    border-radius: 10px;
    width: auto;
    height: 300px
}

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(44, 44, 44, 0.776);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cecece;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

main {
    transition: margin-left .5s;
    /* padding: -16px; */
    margin-top: -3rem;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
#sidemenuknop {
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    transition: 0.5s;
    /* transform: rotate(45deg); */

}